<div class="container">
  <div class="card">
    <div class="card-header" style="text-align: center">Featured Icons</div>
    <div class="card-body">
      <div class="row">
        <div
          class="col-4"
          style="border-right: 1px solid #cccccc; text-align: left"
        >
          This set of icons was registered Globally.
          <dl>
            <dt>1. AppModule: NgxBootstrapIconsModule.forRoot(icons), .</dt>
            <dt>2. FeatureModule: NgxBootstrapIconsModule.forChild(), .</dt>
            <dt>3. Use bootstrap-icon component.</dt>
          </dl>
        </div>

        <div class="col-8"></div>
      </div>
    </div>
  </div>
</div>
